<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="../bower_components/app-storage/app-localstorage/app-localstorage-document.html">

<dom-module id="my-view4">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      .form {
        display: flex;
      }

      .form paper-input {
        flex: 1;
        margin-right: 10px;
      }

      .form vaadin-date-picker {
        flex: 1;
        width: 140px;
      }

      .form paper-button {
        align-self: flex-end;
      }
    </style>

    <div class="card">
      <div class="form">    
        <paper-input label="Task" value="{{todo.task}}"></paper-input>
        <vaadin-date-picker label="Due" value="{{todo.due}}"></vaadin-date-picker>
        <paper-button raised on-tap="_addTodo">Add Todo</paper-button>
      </div>

      <vaadin-grid items="{{todos}}">
        <vaadin-grid-column>
          <template class="header">Task</template>
          <template>{{item.task}}</template>
        </vaadin-grid-column>
        <vaadin-grid-column>
          <template class="header">Due</template>
          <template>{{item.due}}</template>
        </vaadin-grid-column>
      </vaadin-grid>
    </div>

    <app-localstorage-document key="todos" data="{{todos}}"></app-localstorage-document>
  </template>

  <script>
    class MyView4 extends Polymer.Element {
      
      static get is() { return 'my-view4'; }

      static get properties() {
        return {
          todo: {
            type: Object,
            value: () => {return {}}
          },
          todos: {
            type: Array,
            value: () => []
          }
        }
      }

      _addTodo() {
        this.push('todos', this.todo);
        this.todo = {};
      }
    }

    window.customElements.define(MyView4.is, MyView4);
  </script>
</dom-module>
